<!DOCTYPE html>
<html>
<head>
  <title>Testrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :cache => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="navbaritem">
          <a href="/dockerservers/new">New dockerserver</a>
        </li>
        <li class="navbaritem">
          <a href="/brokertypes/new">New broker type</a>
        </li>
        <li class="navbaritem">
          <a href="/rhcbranches/new">New rhc branch</a>
        </li>
        <li class="navbaritem">
          <a href="/logservers/new">New logserver</a>
        </li>
        <li class="navbaritem">
          <a href="/runs/new">New run</a>
        </li>
      </ul>
    </div><!-- end container -->
  </div><!-- end navbar inner -->
</div><!-- end nav -->


<div class="container">
  <%= yield %>
</div><!-- end container -->

</body>
</html>
